@import "../_shared/styles/variables";

.container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.fields {
  display: flex;
  flex-flow: column wrap;
}

.form-button {
  margin: 5px 5px 5px 0;
}

.incorrect-form {
  color: orangered;
}

.jumbotron {
  background-color: $background-color-content;
}

.button-accept {
  background-color: $button-accept;
  border: 0;
  margin-top: 1em;
}


