<div class="container">
  <div class="jumbotron">
    <h1>Logowanie</h1>
    <form (ngSubmit)="sendLoginRequest()" [formGroup]="loginForm">
      <div class="fields">

        <label for="login">Login</label>
        <input [ngClass]="{'in-valid': !loginForm.controls['login'].valid
             && loginForm.controls['login'].touched}" class="form-control" formControlName="login" id="login" placeholder="Login"
               type="text">

        <b *ngIf="!loginForm.controls['login'].valid && loginForm.controls['login'].touched"
           class="incorrect-form">
          Provide valid login </b>

        <label for="password">Password</label>
        <input [ngClass]="{'in-valid': !loginForm.controls['password'].valid
             && loginForm.controls['password'].touched}" class="form-control" formControlName="password" id="password" placeholder="Password"
               type="password">

        <b *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched"
           class="incorrect-form">
          Provide valid password </b>
      </div>
      <span>
            <button class="button-accept btn btn-primary btn-lg form-button form-button-submit"
                    type="submit">Submit</button>
      </span>
    </form>
  </div>
</div>

